b64.py
b64_photo.txt
b64_pronounciation.txt
liju.mp3
simple_contacts_vcf_QR.png
test(from internet. claims to be tested in multiple platforms).vcf
vcard.vcf
FullVcard_old.vcf
colourful.avif
old_bg.png